.navbar {
  background-color: maroon;
}

.top-nav-collapse {
  background-color: maroon;
}

.p-text-menu {
  color: white !important;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.banner-img {
  position: relative;
}

.bottom-left {
  position: absolute;
  vertical-align: bottom;
  bottom: 8px;
  left: 100px;
  font-family: 'Dosis', sans-serif;
  color: white;
  font-size: 40px;
  font-weight: 100;
}

.main-cont {
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  width: 980px;
}

.sec-text-right {
  padding-top: 40px;
}

.p-text-intro {
  font-family: 'Dosis', sans-serif;
  color: black;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.p-text-main {
  font-family: 'Dosis', sans-serif;
  color: maroon;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1;
}

.p-text-subject {
  font-family: 'Dosis', sans-serif;
  color: black;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1;
}

.p-text-sub {
  font-family: 'Dosis', sans-serif;
  color: black;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1;
}

.line {
  background: gray;
  position: relative;
  height: 2.2px;
}
.line:before {
  content: '';
  background: maroon;
  width: 20%;
  height: 1.5px;
  position: absolute;
}

.btn-floating {
  background-color: gray;
  position: relative;
  z-index: 2;
  display: inline-block;

  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

.btn-floating:hover {
  background-color: gray;
  position: relative;
  z-index: 2;
  display: inline-block;

  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  color: maroon;
  text-decoration: none;
}

.carousel {
  margin-top: 50px;
}
.carousel-inner {
  height: 250px;
}
.carousel-caption {
  color: black;
  top: 50%;
}

.footer-align {
  margin-top: 30px;
  padding-bottom: 30px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#myBtn:hover {
  background-color: #555;
}

.page-footer {
  font-family: 'Dosis', sans-serif;
  background-color: black;
  height: 150px;
}

.footer-text {
  color: white;
}
.copyright {
  font-size: 10px;
  color: white;
}

.footer-text {
  color: white;
}

.footer-options {
  padding: 0px 20px;
}
@media only screen and (max-width: 1024px) {
  .navbar {
    background-color: maroon;
  }

  .page-footer {
    text-align: center;
    height: 250px;
  }

  .footer-links {
    display: grid;
  }

  .carousel-inner {
    height: 500px;
  }

  .bottom-left {
    position: absolute;
    vertical-align: bottom;
    text-align: center !important;
    font-family: 'Dosis', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 100;
    left: 0px;
    bottom: 0px;
    right: 0px;
  }
}

html,
body,
header,
.view {
  height: 100%;
}
